image: atlassian/default-image:3

pipelines:
# Automated pipeline for syncing Bitbucket repository with its GitHub mirror, ensuring real-time updates across platforms
branches:
	'*':
	- step:
		name: Sync GitHub Mirror
		image: alpine/git:latest
		clone:
			enabled: false
		script:
			- git clone --bare git@bitbucket.org:kishore-phy/personal-webpage.git
			- cd personal-webpage.git
			- git git@github.com:Kishore96in/kishore96in.github.io.git
