$paradise-pink: #EA1F4B;
$paradise-pink-light: #EF5778;
$bg_yellow: seashell;

html {
	// https://www.aleksandrhovhannisyan.com/blog/62-5-percent-font-size-trick/
	// By default, 1rem = 16px; the below makes it 10px
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	line-height: 1.3;
}

h2, h3, h4, h5, h6 {
	margin: 3.8rem 0 .6rem;
}

h1 {
	font-size: 3.2rem;
}

h2 {
	font-size: 2.5rem;
}

p, ul, ol {
	font-size: 1.8rem;
	margin: 0 0 .8em;
}

a {
	text-decoration: none;
	color: $paradise-pink;
	
	&:hover {
		color: $paradise-pink-light;
	}
}

article {
	padding: 2rem 1rem;
	max-width: calc(44em + 2rem);
	margin: 0 auto;
}

img {
	max-width: 100%;
	height: auto;
	max-height: 60vh; //1vh is 1% of viewport height
	
	//to center-align
	margin: auto;
	display: block;
}

.container {
	display: grid;
	gap: 1rem;
}

@media (min-width: 50rem) {
	.container {
		grid-template-columns: repeat(2, 1fr);
	}
}

.error {
	//Used for error messages
	color: white;
	background-color: red;
}

.tags_list {
	//List of tags, shown at the end of each post.
	background-color: $bg_yellow;
	h1 {
		display: inline-block;
		margin-right: 1rem;
		margin-left: 1rem;
		font-size: 1.8rem;
	}
}

.about_card {
	background-color: $bg_yellow;
}

.about_card, .showcase_last_n_posts {
	padding: 2rem;
}
