{{ define "page" }}
	<div class="container">
		<section class="about_card">
			<h1>{{ .Params.author_name }}</h1>
			<p>{{ .Params.subtitle }}</p>
			
			<p>
			Alternate names:
			{{ delimit .Params.alternate_names "; " }}
				{{/* . */}}
			{{/* end */}}
			</p>
			
			<p>
			Bibliography:
			{{ range .Params.bibliolinks }}
				[<a href="{{ .url }}">{{ .name }}</a>]
			{{ end }}
			</p>
			
			{{ range .Params.otherlinks }}
				<p>{{ .type }}: <a href="{{ .url }}">{{ .text }}</a> </p>
			{{ end }}
			
			{{ if gt (len .Params.affiliations) 0 }}
				<p>
				{{ if eq (len .Params.affiliations) 1 }}
					Affiliation:
				{{ else }}
					Affiliations:
				{{ end }}
				<!-- TODO: use delimit here -->
				{{range .Params.affiliations }}
					[<a href="{{ .url }}">{{ .name }}</a>]
				{{ end }}
				</p>
			{{ end }}
			
		</section>
		
		{{ range .Sections }}
			{{ if .Params.showcased }}
				<section class="showcase_last_n_posts">
					<h1>{{ .Title }}</h1>
					{{ $lim := .Params.num_showcased_posts }}
					<ul>
						{{ range first $lim .Pages }}
							<li>
								<a href="{{ .RelPermalink }}">{{ or .Title .RelPermalink }}</a>
							</li>
						{{ end }}
					</ul>
					
					{{ $remaining := sub .Pages.Len $lim }}
					{{ if gt $remaining 1 }}
						<a href="{{ .RelPermalink }}"> and {{ $remaining }} more posts… </a>
					{{ else if eq $remaining 0}}
						<a href="{{ .RelPermalink }}"> and {{ $remaining }} more post… </a>
					{{ end }}
				</section>
			{{ end }}
		{{ end }}
	</div>
{{ end }}
