{{ define "page" }}
	<div id="about">
		<h1>{{ .Params.author_name }}</h1>
		<p>{{ .Params.subtitle }}</p>
		
		<p>
		Alternate names:
		{{ delimit .Params.alternate_names "; " }}
			{{/* . */}}
		{{/* end */}}
		</p>
		
		<p>
		Bibliography:
		{{ range .Params.bibliolinks }}
			[<a href="{{ .url }}">{{ .name }}</a>]
		{{ end }}
		</p>
		
		{{ range .Params.otherlinks }}
			<p>{{ .type }}: <a href="{{ .url }}">{{ .text }}</a> </p>
		{{ end }}
	</div>
	
	<div id="blogs">
			{{ $name := .Params.showcased_section.name }}
			{{ $lim := .Params.showcased_section.num_shown_posts }}
			{{ range (where .Pages "Section" $name) }}
				<h1>{{ $name }}</h1>
				{{ range first $lim .Pages }}
					<li>
						<a href="{{ .RelPermalink }}">{{ or .Title .RelPermalink }}</a>
					</li>
				{{ end }}
				{{ if gt .Pages.Len $lim }}
					<a href="{{ .RelPermalink }}"> ... and {{ sub .Pages.Len  $lim }} more posts </a>
				{{ end }}
			{{ end }}
	</div>
{{ end }}
