{{- $tp := .type -}}

{{- with .entry -}}
	{{- if or .author .editor -}}
		{{- if .author -}}
			{{- $n := len .author -}}
			{{- if le $n 2 -}}
				{{- range $index, $author := (first 2 .author) -}}
					{{- index . "non-dropping-particle" -}}{{- .family }}
					{{ if and (gt $n 1) ( eq $index 0) }} and {{ end -}}
				{{- end -}}
			{{- end -}}
			{{- if gt $n 2 -}}
				{{- range first 1 .author -}}
					{{- index . "non-dropping-particle" }}{{ .family }}
				{{- end }} et al.
			{{ end -}}
		{{- else -}}
			{{- if .editor -}}
				{{- $n := len .editor -}}
				{{- if le $n 2 -}}
					{{- range $index, $author := (first 2 .editor) }}
						{{- index . "non-dropping-particle" }}{{- .family }} {{- if and (gt $n 1) ( eq $index 0) }}and {{- end }}
					{{- end }}
				{{- end }}
				{{- if gt $n 2}}{{- range first 1 .editor}}{{- index . "non-dropping-particle" }} {{- .family }}{{- end }} et al. {{- end }}
				(Ed{{- if gt $n 1 }}s{{- end }}.)
			{{- end -}}
		{{- end -}}
	{{- else -}}
		Anonymous
	{{- end -}}
{{- end -}}
