<!--
Supported types:
	t: textcite
	p: parencite
	f: fullcite (used to construct the bibliography)
-->

{{- $context := .context -}}
{{- $tp := .type -}}
{{- $id := .id -}}
{{- $json := dict -}}

{{- with try (resources.Get $context.Page.Params.bib) -}}
	{{- with .Value -}}
		{{- $json = . | transform.Unmarshal -}}
		{{- $entry := where $json "id" $id -}}

		{{- if  eq (len $entry) 0 -}}
			<span class="error">Bib entry not found</span>
		{{- end -}}
		<!--TODO: why does it make sense to have more than one entry with the same key?-->
		{{- range $entry -}}
			<!-- Author / editor and year -->
			{{- $austring:= (partial "cite/get_author.html" (dict "entry" . "tp" $tp)) -}}
			
			<!--Used later to keep track of whether this author has been cited before-->
			{{- $citedYearsLabelThisAuthor := (printf "citedYears:%s" $austring) -}}
			
			{{- $yearstring:= (partial "cite/get_year.html" (dict "entry" . "tp" $tp "store" $.context.Page.Store "citedYearsLabel" $citedYearsLabelThisAuthor "id" $id)) -}}
			
			{{- if .author -}}
				{{- if eq $tp "p" -}}({{- end -}} <!--Opening parenthesis for parencite-->
			{{- end -}}
			{{- $austring -}}
			{{- if or (eq $tp "t") (eq $tp "f") }}({{- end -}} <!--Opening parenthesis for textcite and fullcite-->
			
			{{- if eq $tp "f" -}}
				{{- $yearstring -}}
			{{- else -}}
				<a href="#{{- $id -}}">{{- $yearstring -}}</a>
			{{- end -}}
			
			{{- if not (eq $tp "alp") -}}
				)
				<!--Closing parenthesis for all-->
			{{ end -}}
			
			<!--Fullcite-->
			{{- if eq $tp "f" -}}.
				<!--TODO: tex rendering is needed for the title in some cases. Safe to enable unconditionally?-->
				<!-- Title  -->
				{{- if or (eq .type "book") (eq .type  "thesis") -}}
					<em>{{ title .title }}</em>
				{{- else -}}
					{{ .title }}
				{{- end -}}
				
				{{- if ne (substr .title -1) "?" }}.{{ end }}
				
				<!-- Article -->
				{{- if in .type "article" -}}
					<i>{{ title (index . "container-title") }}</i>,
					{{- if .volume }} {{ .volume }}{{ end -}}
					{{- if .issue }}({{ .issue }}){{ end -}}
					{{- if .page }}, {{ replace .page "-" "–"}}{{ end -}}.
				{{- end -}}
				
				<!-- Book -->
				{{- if eq .type "book" -}}
					{{- if .publisher }}{{ .publisher}}.{{ end }}
				{{- end -}}
				
				<!-- Chapter -->
				{{- if eq .type "chapter" -}}
					In: 
					{{- if .editor -}}
					{{- $n := len .editor -}}
					{{- if le $n 2 -}}
					{{- range $index, $author := (first 2 .editor) -}}
					{{- index . "non-dropping-particle" }}{{- .family }} {{- if and (gt $n 1) ( eq $index 0) }}and {{- end }}
					{{- end }}
					{{- end }}
					{{- if gt $n 2}}{{- range first 1 .editor}}{{- index . "non-dropping-particle" }} {{- .family }}{{- end }} et al.{{- end }}
					(Ed{{- if gt $n 1 }}s{{- end }}.),
					{{- end -}}
					<i>{{ title (index . "container-title") }}</i>
					{{- $place := index . "publisher-place" -}}
					{{- if or .publisher $place }} ({{ end }}
					{{- if .publisher }}{{ .publisher}}{{ end }}
					{{- if and .publisher $place }}, {{ end }}
					{{- if $place }}{{ $place }}{{ end }}
					{{- if or .publisher (index . "publisher-place") }}){{ end -}}.
				{{- end -}}
				
				<!-- Thesis -->
				{{- if eq .type "thesis" -}}
					{{ .genre }}. {{ .publisher }}.
				{{- end -}}
				
				<!-- Conference -->
				{{- if eq .type "paper-conference" -}}
					In: <em>{{ title (index . "container-title")}}</em>, {{ index . "publisher-place" }}.
				{{- end -}}
				
				<!-- Report -->
				{{- if eq .type "report" -}}
					{{ .title }},
					{{- if .number }} ({{ .number }}).{{ end -}}
					{{- if .publisher }}{{ .publisher }}{{ end -}}.
				{{- end -}}
				
				<!-- Hyperlinks -->
				{{ if .DOI -}}
					doi: <a href="https://doi.org/{{ .DOI }}" title="{{ .title }}" target="_blank">{{ .DOI }}</a>.
				{{- end -}}
				
				{{ if and .URL (not .DOI) -}}
					<a href="{{ .URL }}" title="{{ .title }}" target="_blank">{{ .URL }}</a>.
				{{- end -}}
			{{- end -}}
			
			<!--Store information on which keys have been used so far (used for bibliography construction)-->
			{{- if ne $tp "f" -}}
				{{- $context.Page.Store.SetInMap "usedCiteKeys" $id (dict) -}}
			{{- end -}}
		{{- end -}} <!--range $entry-->
	{{- else -}}
		<span class="error">No bibliography file</span>
	{{- end -}}
{{- end -}}


