<!-- Set variables -->
{{- $tp := .Get 0 -}}
{{- $id := .Get 1 -}}
{{- $json := dict -}}

{{- with try (resources.Get .Page.Params.bib) -}}
	{{- with .Value -}}
		{{- $json = . | transform.Unmarshal -}}
		{{- $entry := where $json "id" $id -}}

		{{- if  eq (len $entry) 0 -}}
			<span class="error">Bib entry not found</span>
		{{- end -}}
		<!--TODO: why does it make sense to have more than one entry with the same key?-->
		{{- range $entry -}}
			<!-- Author / editor -->
			{{- if or .author .editor -}}
				{{- if .author -}}
					<!--TODO: should this opening bracket not be at the beginning of the `range $entry` block?-->
					{{- if eq $tp "p" -}}({{- end -}} <!--Opening parenthesis for parencite-->
					{{- $n := len .author -}}
					{{- if le $n 2 -}}
						{{- range $index, $author := (first 2 .author) -}}
							{{- index . "non-dropping-particle" -}}{{- .family }}
							{{ if and (gt $n 1) ( eq $index 0) }} and {{ end -}}
						{{- end -}}
					{{- end -}}
					{{- if gt $n 2 -}}
						{{- range first 1 .author -}}
							{{- index . "non-dropping-particle" }}{{ .family }}
						{{- end }} et al.
					{{ end -}}
				{{- else -}}
					{{- if .editor -}}
						{{- $n := len .editor -}}
						{{- if le $n 2 -}}
							{{- range $index, $author := (first 2 .editor) }}
								{{- index . "non-dropping-particle" }}{{- .family }} {{- if and (gt $n 1) ( eq $index 0) }}and {{- end }}
							{{- end }}
						{{- end }}
						{{- if gt $n 2}}{{- range first 1 .editor}}{{- index . "non-dropping-particle" }} {{- .family }}{{- end }} et al. {{- end }}
						(Ed{{- if gt $n 1 }}s{{- end }}.)
					{{- end -}}
				{{- end -}}
			{{- else -}}
				Anonymous
			{{- end -}}
			
			<!-- Year -->
			{{- range .issued -}}
				<!--issued has a key, date-parts, which is of the form [[yyyy,mm,dd]]-->
				{{- $year := index . 0 -}}
				{{- $year = index $year 0 -}}
				{{- if or (eq $tp "t") (eq $tp "f") }}({{- end -}} <!--Opening parenthesis for textcite and fullcite-->
				{{- strings.TrimRight "]" (strings.TrimLeft "[" $year) -}}
				{{- if not (eq $tp "alp") -}}){{- end -}} <!--Closing parenthesis for all-->
			{{- end -}}
			
			<!--Fullcite-->
			{{- if eq $tp "f" -}}.
				<!-- Title  -->
				{{- if or (eq .type "book") (eq .type  "thesis") -}}
					<em>{{ title .title }}</em>
				{{- else -}}
					{{ .title }}
				{{- end -}}
				
				{{- if ne (substr .title -1) "?" }}.{{ end }}
				
				<!-- Article -->
				{{- if in .type "article" -}}
					<i>{{ title (index . "container-title") }}</i>,
					{{- if .volume }} {{ .volume }}{{ end -}}
					{{- if .issue }}({{ .issue }}){{ end -}}
					{{- if .page }}, {{ replace .page "-" "–"}}{{ end -}}.
				{{- end -}}
				
				<!-- Book -->
				{{- if eq .type "book" -}}
					{{- if .publisher }}{{ .publisher}}.{{ end }}
				{{- end -}}
				
				<!-- Chapter -->
				{{- if eq .type "chapter" -}}
					In: 
					{{- if .editor -}}
					{{- $n := len .editor -}}
					{{- if le $n 2 -}}
					{{- range $index, $author := (first 2 .editor) -}}
					{{- index . "non-dropping-particle" }}{{- .family }} {{- if and (gt $n 1) ( eq $index 0) }}and {{- end }}
					{{- end }}
					{{- end }}
					{{- if gt $n 2}}{{- range first 1 .editor}}{{- index . "non-dropping-particle" }} {{- .family }}{{- end }} et al.{{- end }}
					(Ed{{- if gt $n 1 }}s{{- end }}.),
					{{- end -}}
					<i>{{ title (index . "container-title") }}</i>
					{{- $place := index . "publisher-place" -}}
					{{- if or .publisher $place }} ({{ end }}
					{{- if .publisher }}{{ .publisher}}{{ end }}
					{{- if and .publisher $place }}, {{ end }}
					{{- if $place }}{{ $place }}{{ end }}
					{{- if or .publisher (index . "publisher-place") }}){{ end -}}.
				{{- end -}}
				
				<!-- Thesis -->
				{{- if eq .type "thesis" -}}
					{{ .genre }}. {{ .publisher }}.
				{{- end -}}
				
				<!-- Conference -->
				{{- if eq .type "paper-conference" -}}
					In: <em>{{ title (index . "container-title")}}</em>, {{ index . "publisher-place" }}.
				{{- end -}}
				
				<!-- Report -->
				{{- if eq .type "report" -}}
					{{ .title }},
					{{- if .number }} ({{ .number }}).{{ end -}}
					{{- if .publisher }}{{ .publisher }}{{ end -}}.
				{{- end -}}
				
				<!-- Hyperlinks -->
				{{- if .DOI -}}
					doi: <a href="https://doi.org/{{ .DOI }}" title="{{ .title }}" target="_blank">{{ .DOI }}</a>.
				{{- end -}}
				
				{{- if and .URL (not .DOI) -}}
					<a href="{{ .URL }}" title="{{ .title }}" target="_blank">{{ .URL }}</a>.
				{{- end -}}
			{{- end -}}
		{{- end -}} <!--range $entry-->
	{{- else -}}
		<span class="error">No bibliography file</span>
	{{- end -}}
{{- end -}}


